/* RESETS AND BASICS*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3em;
  font-weight: 1000;
}

h2 {
  font-size: 2em;
  font-weight: 1000;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

/* ALIGN AND SPACE*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.margin-top__10p {
  margin-top: 10%;
}

.margin-top__5em {
  margin-top: 2em;
}

.margin-y__2em {
  margin: 2em 0;
}

.padding-bottom__1em {
  padding-bottom: 1em;
}

/*STYLE*/
.side-nav {
  width: 15%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin-left: 10%;
}

.side-nav .logo {
  width: 100%;
  height: 10%;
  font-size: 2.5em;
  font-weight: 1000;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .side-nav__list {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav .side-nav__list .side-nav__list-item {
  font-size: 1em;
  margin: 0.5em 0;
  cursor: pointer;
}

.side-nav .side-nav__list .side-nav__list-item span {
  border-bottom: 1px solid transparent;
}

.side-nav .side-nav__list .side-nav__list-item:hover span {
  border-bottom: 1px solid black;
}

.side-nav .side-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  position: absolute;
  bottom: 2em;
}

.side-nav .side-nav__social .side-nav__social-item {
  font-size: 1.5em;
  font-weight: 1000;
}

.bg-img__container {
  background-color: gray;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 15%;
  z-index: -1;
}

.main {
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
  width: 75%;
  margin-left: 25%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.main.proximity {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  scroll-snap-align: start;
}

.section .section-content {
  background-color: white;
  padding: 0.5em 2em;
  max-width: 95%;
  width: 95%;
  max-height: 80%;
  overflow-y: scroll;
}

.section .section-content .section-content__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2em;
}

.section .section-content__grid-card {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.section .section-content__grid-card .grid-card__thumbnail-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.section .section-content__grid-card .grid-card__thumbnail-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section .section-content__grid-card h4 {
  margin: 1em;
}

.section .section-content__about-profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .section-content__about-profile img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 1em;
}

.section .section-content__about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section .section-content__about div {
  max-width: 45%;
  min-width: 300px;
}

.section .section-content__about h4 {
  margin: 1em 0;
}

.section .faded-header {
  position: absolute;
  top: 2rem;
  right: 5%;
  font-size: 4em;
  font-weight: 1000;
  opacity: 0.1;
}

.section-content__contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em 0;
}

.section-content__contact .contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  min-width: 350px;
}

.section-content__contact .contact-form h4 {
  margin-bottom: 1.5em;
}

.section-content__contact .contact-form label {
  font-size: 0.8em;
  font-weight: 600;
  margin: 1em 0 0.5em;
}

.section-content__contact .contact-form input,
.section-content__contact .contact-form textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.section-content__contact .contact-form input:focus,
.section-content__contact .contact-form textarea:focus {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  border: 2px solid black;
}

.section-content__contact .contact-form input[type="submit"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-content__contact .contact-info {
  width: 45%;
  min-width: 350px;
}

.section-content__contact .contact-info p {
  margin: 0.3em 0 1.5em;
}

.primary-btn {
  background-color: black;
  color: white;
  border: none !important;
  cursor: pointer;
}

.primary-btn:active {
  background-color: rgba(0, 0, 0, 0.7);
}

#home-section p {
  font-size: 2em;
  width: 80%;
  opacity: 0.8;
  line-height: 160%;
}
/*# sourceMappingURL=style.css.map */