/* RESETS AND BASICS*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 1000;
}

h2 {
  font-size: 2em;
  font-weight: 1000;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.side-nav {
  width: 15%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin-left: 10%;
}

.side-nav .logo {
  width: 100%;
  height: 10%;
  font-size: 2.5em;
  font-weight: 1000;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav .side-nav__list {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav .side-nav__list .side-nav__list-item {
  font-size: 1em;
  margin: 0.5em 0;
  cursor: pointer;
}

.side-nav .side-nav__list .side-nav__list-item span {
  border-bottom: 1px solid transparent;
}

.side-nav .side-nav__list .side-nav__list-item:hover span {
  border-bottom: 1px solid black;
}

.side-nav .side-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  position: absolute;
  bottom: 2em;
}

.side-nav .side-nav__social .side-nav__social-item {
  font-size: 1.5em;
  font-weight: 1000;
}

.bg-img__container {
  background-color: gray;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 15%;
  z-index: -1;
}

.main {
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
  width: 75%;
  margin-left: 25%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.main.proximity {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  scroll-snap-align: start;
}

.section .section-content {
  background-color: white;
  padding: 0.5em 2em;
  max-width: 95%;
  width: 95%;
  max-height: 70%;
  overflow-y: scroll;
}

.section .section-content .section-content__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  background-color: blue;
}

.section .section-content .section-content__grid .section-content__grid-card {
  padding-bottom: 56.25%;
  background-color: red;
}

.section .faded-header {
  position: absolute;
  top: 4rem;
  left: 30%;
  font-size: 5em;
  font-weight: 1000;
  opacity: 0.1;
}

#home-section p {
  font-size: 2em;
  width: 80%;
  opacity: 0.8;
  line-height: 160%;
}
/*# sourceMappingURL=style.css.map */